@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import url('admin.css');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


body {
  width: 120vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

section {
  margin-top: 1.6rem;
}

.Fields {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.Fields div {
  margin-right: 10px;
  width: 100%;
}

label {
  margin: 15px;
  color: var(--color-dark);
  font-size: 1.5rem;
}

.formContainer {
  margin: 10px;
  padding: 5px 20px 15px 20px;
}

input[type="password"] {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 30px;
  filter: drop-shadow(0px 3px 3px var(--color-info-light));
  transition: all 0.2s ease-in-out;
}

input[type="password"]:hover {
  filter: drop-shadow(0px 0px 0px var(--color-info-light));
}


label {
  margin-left: 20px;
  display: block;
  color: var(--color-dark);
}


/* Button */
a.animated-button.thar-three {
  color: var(--color-dark);
  cursor: pointer;
  width: 30%;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 4px solid burlywood;
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

a.animated-button.thar-three:hover {
  color: var(--color-white) !important;
  background-color: transparent;
  text-shadow: nthree;
}

a.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

a.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  background: burlywood;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}


/* media queries */

@media screen and (max-width: 1280px) {
  a.animated-button.thar-three {
    width: 80%;
  }
}


@media screen and (max-width: 1100px) {
  .Fields {
    flex-direction: column;
  }

  .Fields div {
    margin-right: 0;
  }

  a.animated-button.thar-three{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
  }
}



@media screen and (max-width: 768px) {
  .Fields {
    flex-direction: column;
  }

  .Fields div {
    margin-right: 3rem;
    width: 95%;
  }

  section h1 {
    margin-top: 8rem;
    padding: 0 2.5rem;
  }

  a.animated-button.thar-three{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10rem;
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .right .top .theme-toggle {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right .profile .info {
    display: none;
  }

  .right .profile-photo {
    display: inline-block;
    margin-right: 12rem;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right .top button span {
    font-size: 2rem;
  }

  .right #menu-btn {
    display: inline-block;
  }
}




@media (max-width: 657px) {
  .Fields {
    flex-direction: column;
  }

  .Fields div {
    margin-right: 1.7rem;
    width: 95%;
  }

  section h1 {
    margin-top: 8rem;
    padding: 0 2.5rem;
  }

  a.animated-button.thar-three{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10rem;
  }
}

@media screen and (max-width: 480px) {


  a.animated-button.thar-three{
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9rem;
  }
}
  